.low-usage {
  color: green;
}

.medium-usage {
  color: black;
}

.high-usage {
  color: red;
}

.main-box {
  background-color: #ccffff;
  width: 600px;
  margin: 20px auto;
  padding: 50px;
  border: solid blue 10px;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

button {
  background-color: #cdccff;  
  border-color:  #cdccff;
}

#submit {
  background-color: #cdccff;
  border-color:  #cdccff;
}

#current-city {
  background-color: #e2ccff;
  border-color: #e2ccff;
}

::placeholder {
  color: white;
}