.low-usage {
  color: green;
}

.medium-usage {
  color: black;
}

.high-usage {
  color: red;
}

.on {
  background-color: green;
}

.off {
  background-color: #cdccff;
}

.main-box {
  background-color: #ccffff;
  width: 600px;
  margin: 20px auto;
  padding: 50px;
  border: solid blue 10px;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

html * {
  font-family: "Comic Sans MS",cursive,sans-serif;
}

body {
  background-image: url("images/ice-cubes.webp");
  background-size: cover;
}

button {
  background-color: #cdccff;
  border-color:  #cdccff;
}

#submit {
  background-color: #cdccff;
  border-color:  #cdccff;
}

#temperature {
  width: 45px;
  height: 45px;
  border: solid blue 5px;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
 font-family: 'Orbitron', sans-serif;
			 src: url('https://fonts.googleapis.com/css?family=Orbitron');
  font-size: 30px;
  background-color: white;
}

#current-city {
  background-color: #e2ccff;
  border-color: #e2ccff;
}

#temperature-up {
  color: red;
}

#temperature-down {
  color: blue;
}

::placeholder {
  color: white;
}
